# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
wheels/
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Node.js build artifacts
node_modules/
generated_project/

# OS files
.DS_Store
Thumbs.db